html {
  font: 1.25rem/1.5 monospace;
}

body {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

blockquote {
  color: slategray;
}

code {
  background-color: ivory;
  color: tomato;
  padding: 0.125rem 0.25rem;
}

pre > code {
  display: block;
}
