---
layout: base
stylesheet: cv.css
title: Curriculum Vitae of Rommert Thomas Zijlstra
---

<header>
  <h1><i>Curriculum Vitae</i> of <i>Rommert Thomas Zijlstra</i></h1>

  <nav>
    <a href="https;//www.rombrom.com">rombrom.com</a>
    <a href="https://github.com/rombrom">GitHub</a>
    <a href="https://linkedin.com/in/rommert">LinkedIn</a>
  </nav>
</header>

<div role="separator">❦</div>

<section>
  <dl>
    <dt>name</dt>
    <dd>Rommert Thomas Zijlstra</dd>
    <dt>phone</dt>
    <dd>+31 6 1811 0551</dd>
    <dt>email</dt>
    <dd>rtzijlstra@icloud.com</dd>
    <dt>nationality</dt>
    <dd>Dutch</dd>
  </dl>
</section>

<div role="separator">❦</div>

<section>
  <h2>Profile</h2>

  <p>
  Driven Staff/Lead Developer with two decades of experience <em>turning coffee into code</em>. Background in interaction design and extensive experience in full stack web development. Has a passion for intuitive interfaces, simple technology, and crisp design. Independent, curious, and always eager to learn. Strong opinions, weakly held. Strong values, strongly held.
  </p>

  <p>
  Loves mentoring, technical direction, and shipping scalable, maintainable, and <em>delightful</em> software. Enjoys solving complex problems—but cares more about people than tech. Autonomy, responsibility, and collaboration are keys to growth. Seen it all, from table layouts and frames to blockchain and AI.
  </p>
</section>

<div role="separator">❦</div>

<section class="competencies">
  <h2>Competencies</h2>

  <div>
    <h3>Leadership &amp; Collaboration</h3>

    <ul>
      <li>
        Team leadership, mentoring, technical direction
      </li>
      <li>
        Project planning, budgeting and stakeholder alignment
      </li>
      <li>
        Technical &amp; scientific writing—with or without humor
      </li>
    </ul>

    <h3>Engineering &amp; Development</h3>

    <ul>
      <li>
        <strong>Front End:</strong> TypeScript, React, Svelte, Next.js, Remix, SvelteKit, and
        the framework <i>du jour</i>.
      </li>
      <li>
        <strong>Back End:</strong> NodeJS (Express, Hono, Apollo), PostgreSQL, Redis; previously PHP, Python, RabbitMQ
      </li>
      <li>
        <strong>Blockchain:</strong> Front/back ends and E2E tests for EVM &amp; Solana blockchains
      </li>
      <li>
        <strong>Testing:</strong> E2E, component, and unit testing frameworks
      </li>
      <li>
        <strong>Ops:</strong> Docker, Kubernetes, Unix VMs &amp; metal, CI/CD automation
      </li>
      <li><strong>User Experience:</strong> WAI-ARIA, Figma, other graphics tools</li>
    </ul>
  </div>
</section>

<div role="separator">❦</div>

<section>
  <h2>Employment History</h2>

  <article>
    <header>
      <h3>Lead/Staff Front End Engineer</h3>
      <time>nov 2022 - mar 2025</time>
      <p>Self employed (<a href="https://noop.digital">noop.digital</a>), Remote</p>
    </header>

    <p>
    Front End technical lead for multiple projects in the Web3 space: <strong>reNFT</strong>, an NFT rentals platform; <strong>021</strong>, a Web3 innovation laboratory; <strong>Rumble Kong League</strong>, a fast-paced 3v3 competitive basketball game.
    </p>

    <ul>
      <li>
        Led front-end technical direction. Aligned with design, back-end, infrastructure, business stakeholders and partners. Provided technical, user, and ops support. Hired and mentored team members.
      </li>
      <li>
        Greenfielded Endgame: a web application for peer-to-peer NFT lending and renting on Remix (we migrated from Next.js to Remix halfway) against a Strawberry + FastAPI Python back end, and Safe multisig + Seaport chain-side. Cl/CD running forked chain E2E tests.
      </li>
      <li>
        Greenfielded <a href="/projects/coin-fun">Coin.fun</a>: a memecoin launcher & trader on Solana, featuring realtime charts and chats. Built on SvelteKit, Supabase/PostgreSQL, Socket.io, Web3Auth. CI/CD running Playwright E2E and Vitest unit tests on GitHub actions.
      </li>
      <li>
        Greenfielded a yet-to-be-released fantasy baseball simulator web application supporting realtime bets and chats, custom scheduling of teams, leagues and playoffs. TurboRepo monorepo: web app built on SvelteKit, Supabase/PostgreSQL; realtime components built on Server Sent Events; scheduling system CLI application built with OCLIF; CI/CD running Playwright E2E and Vitest unit tests on GitHub actions.
      </li>
      <li>
        Architected multiple acccount/sign-in systems, front and back, allowing seamless
        switching between EVM and Solana chains for users. Made it testable.
      </li>
      <li>
        Refined and further developed the reNFT v2 peer-to-peer lending web application: introduced forked chain E2E testing; improved development workflows and practices; optimized TTFB & bundle sizes; added Service Worker &amp; CDN caching of assets; ported SDK to viem.
      </li>
    </ul>
  </article>

  <article>
    <header>
      <h3>Senior Web Developer</h3>
      <time>nov 2020 – nov 2022</time>
      <p>Pro4all Cloud Services B.V. (<a href="https://www.pro4all.nl">pro4all.nl</a>), Woerden, NL</p>
    </header>

    <p>
    Pro4all creates software solutions which support many processes utilized in construction: from document management to on-site quality control. Pro4all improves teamwork.
    </p>

    <ul>
      <li>
        Co-responsible for front-end technical direction of the core product, ProStream. Stack consisted of a NX monorepo, React/TS SPA + Apollo/GraphQL (BFFE pattern) on event-driven CQRS microservices architecture with .NET and NodeJS services, deployed to K8S via Azure CI/CD.
      </li>
      <li>
        Architected, built and optimized core features of the product. Conferred with product owners and stakeholders about feature direction, UX, and planning.
      </li>
      <li>
        Mentored team members and chaired the front-end guild.
      </li>
      <li>
        Developed libraries and documented patterns used in the core product. Emphasized developer experience.
      </li>
      <li>
        Initiated and grew technical documentation efforts. Key contributions: front/back end alignment; front-end best practices; testing methodologies; and lastly pull-request and code-review guidelines.
      </li>
    </ul>
  </article>

  <article>
    <header>
      <h3>Senior Web Developer</h3>
      <time>oct 2018 – sep 2020</time>
      <p>IN60SECONDS (<a href="https://www.in60seconds.nl">in60seconds.nl</a>), Amsterdam, NL</p>
    </header>

    <p>
    IN60SECONDS engineers understanding by creating stunning explanimations and gripping interactive experiences.
    </p>

    <ul>
      <li>Led in-house knowledge ramp-up, processes and tooling in making interactive productions. In one year I implemented a well-oiled creation, testing & delivery process.</li>
      <li>Advised and directed clients and colleagues on matters like accessibility, technology, and infrastructure. Responsible for estimation, budgeting and managing assets and work.</li>
      <li>Setup of devops architecture: a self-hosted GitLab with CI/CD pipelines provisioning staging and production environments. Built development frameworks for “off-the-shelf” productions.</li>
      <li>Realized a diverse range of WCAG 2.1 compliant projects utilizing varying technologies. Projects included: internal social portals, many interactive visualizations, the official Dutch state of Education reports, and a “Grocery Shopping in COVID Times” game on PhaserJS.</li>
      <li>Maintained websites and projects. Optimized server and front-end performance.</li>
    </ul>
  </article>

  <article>
    <header>
      <h3>Co-Owner</h3>
      <time>jan 2009 – sept 2018</time>
      <p>Thinkbright (<a href="https://web.archive.org/web/20180612164124/https://www.thinkbright.nl/">thinkbright.nl</a>, web archive), Utrecht, NL</p>
    </header>

    <p>
    Digital product and web agency for clear strategy and crisp interaction. Worked for clients like Elsevier, Alcon, Edenspiekermann, International Card Services, Van Herwerden, de Volkskrant, Sony Music NL and Quirido publishers.
    </p>

    <ul>
      <li><strong>Main responsibilities:</strong> user experience and tech consultancy, interaction &amp; web design, full-stack architecture &amp; development. Everyday challenge: turning business requirements into concrete solutions, delighting clients and users.</li>
      <li><strong>Highlights:</strong> refactored CSS architecture, optimized critical path rendering and implemented WCAG 2.1 compliance for the Elsevier Reaxys application. Designed &amp; developed an interactive longreads platform, featuring subscriptions, publisher tooling, and a block-based editor. Lived and worked through major web eras: table layouts, browser wars, web2.0, Wordpress & PHP frameworks, mobile first &amp; responsive, Cambrian JS explosion, JSX, AWS, Docker, Kubernetes, Tor and Blockchain.</li>
    </ul>
  </article>
</section>

<div role="separator">❦</div>

<section>
  <h2>Other Experience</h2>

  <article>
    <header>
      <h3>Info.nl Labs Research Intern</h3>
      <time>sept 2013 – feb 2014</time>
      <p>Master internship @ Info.nl (<a href="https://www.info.nl">info.nl</a>) , Amsterdam, NL </p>
    </header>

    <p>Developed a contextual design system, incorporating actors, data, messages and sensors.</p>
  </article>

  <article>
    <header>
      <h3>Strategy &amp; Design Intern</h3>
      <time>sept 2008 – jan 2009</time>
      <p>Bachelor internship @ Info.nl (<a href="https://www.info.nl">info.nl</a>) , Amsterdam, NL </p>
    </header>

    <p>UX design & prototyping for clients as Achmea, Elsevier and Triodos. Research on mobile web.</p>
  </article>

  <article>
    <header>
      <h3>Research Assistent</h3>
      <time>sept 2007 – jun 2008</time>
      <p>Utrecht UAS / Crossmedia Lab, Utrecht, NL</p>
    </header>

    <p>Responsible for the online lab. Codeigniter LEMP stack, custom front-end.</p>
  </article>

  <article>
    <header>
      <h3>Freelance Designer &amp; Developer</h3>
      <time>jan 2006 – dec 2009</time>
      <p>Refract, Utrecht, NL</p>
    </header>

    <p>I started my professional journey onto the web as a freelance web designer &amp; developer.</p>
  </article>
</section>

<div role="separator">❦</div>

<section>
  <h2>Education</h2>

  <article>
    <header>
      <h3>New Media &amp; Digital Culture</h3>
      <time>sept 2011 – jun 2014</time>
      <p>MA @ Utrecht University, Humanties, Utrecht, NL</p>
    </header>

    <p>Socio-historical and philosophical research of media and their interplay with society, culture and the self. Finished all coursework.</p>
  </article>

  <article>
    <header>
      <h3>Digital Communication</h3>
      <time>sept 2006 – jun 2010</time>
      <p>BSc @ Utrecht UAS, Communication, Utrecht, NL</p>
    </header>

    <p>Key points & competencies: communication & strategy, project management, system analysis and architecture, interaction design, UX design and usability.</p>
  </article>
</section>

<div role="separator">❦</div>

<section>
  <h2>Miscelaneous</h2>

  <article>
    <h3>Open Source</h3>

    <ul>
      <li>
        I developed my own Vim theme called FANSI in VimScript, which I later ported to NeoVim and Lua. I am still maintaining and expanding this.
      </li>
      <li>
        Minor contributions to a myriad of different tools and toolchains I’ve used over the years, ranging from Vim plugins, shell tools, PHP libraries, Blockchain SDKs, etc.
      </li>
    </ul>
  </article>

  <article>
    <h3>Languages</h3>

    <p>
    Fluent English in speech and writing. Fluent Dutch in speech and writing. Can talk to computers.
    </p>
  </article>

  <article>
    <h3>Interest &amp; Leisure</h3>

    <p>
    Fidgiting with or learning software and technical things in general. Supporting a Human 1.0 LTS deployment (i.e. daughter). Reading: technology, history & society, some philosophy, sci-fi. Music: a force of human nature. I mostly listen nowadays but I still sing and play guitar sometimes. Sports: bouldering, skateboarding. Also, in the Netherlands we bike a lot. Friends &amp; family, a bit of gaming (hit me up for some Factorio, Minecraft or Rocket League), and chilling with our feline companion.
    </p>
  </article>
</section>

