---
eleventyImport:
  collections: ['post']
layout: base
---

<header>
  <h1>
    rombrom
    <i class="com"
      >.com
      <hr />
      .eth</i
    >
  </h1>
</header>

<section>
  <p>
    Proud dad who's making and breaking the web. Est. 1987. Here you'll probably
    find fragmented notes. I don't write often because I love building with
    others more.
  </p>

  <p>
    Currently into building web3 things with
    <a href="https://021.gg">021.gg</a>. Check out the latest thing we built:
    <a href="https://endgame.021.gg">Endgame rentals marketplace</a>.
  </p>

  <p>
    I do some things on <a href="https://github.com/rombrom">GitHub</a>,
    I <a href="https://x.com/rombromz">Xeet</a>, I have a
    <a href="https://www.linkedin.com/in/rommert/">LinkedIn</a> I barely use.</p>

  <p>I've been making web things for close to two decades. Most of the time it's fun!
    Sometimes it's <abbr title="See: 'Losing'">FUN</abbr> ☺
  </p>
</section>

<h2>Notes</h2>

{%- for post in collections.post reversed -%}
{%- if post.data.hidden -%}{% continue %}{%- endif -%}
<article class="article-preview">
  <a href="{{ post.url }}">
    <h3>{{ post.data.title }}</h3>
  </a>
  <time>{{ post.date | prettyDate }}</time>
</article>
{%- endfor -%}
