:root {
  box-sizing: border-box;
}
chore: remove ")"
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  --color-background: #fff1d6;
  --color-foreground: #181b1f;
  --color-black: #31373d;
  --color-red: #f55c45;
  --color-green: #afb833;
  --color-yellow: #ebb242;
  --color-blue: #5fb8b8;
  --color-magenta: #cc7ab1;
  --color-cyan: #6eb89f;
  --color-grey: #9aaab8;
  --color-dark-grey: #757d85;
  --color-light-red: #f58c31;
  --color-light-green: #d6d66f;
  --color-light-yellow: #ffd37a;
  --color-light-blue: #92d6d6;
  --color-light-magenta: #eba0d2;
  --color-light-cyan: #92d6bf;
  --color-light-grey: #d8e2eb;

  --fg: var(--color-foreground);
  --bg: var(--color-background);

  background-color: var(--bg);
  color: var(--fg);
  font: clamp(1rem, 3vw, 1.5rem) / 1.618 monospace;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  max-width: 64ch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
  padding-inline: clamp(1rem, 10vw, 3rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-block-end: 3rem;
}

h1 > i {
  color: var(--color-yellow);
  font-size: 0.5em;
  margin-inline-start: 1em;
}

h2 {
  color: var(--color-red);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: clamp(2rem, 10vw, 5rem);
  margin: 1.5em 0;
  line-height: 1;
}

h3 {
  font-size: clamp(1rem, 8vw, 2rem);
  margin: 0 0 1em;
}

h1,
h2,
h3 {
  position: relative;
}

h1::after,
h2::after,
h3::after {
  content: '';
  color: var(--color-red);
  position: absolute;
  top: 100%;
  display: block;
  border-bottom: solid 0.125em;
  width: 2ch;
}

hr {
  border: 0;
  height: 2px;
  width: 1em;
  box-shadow: -1em 0 0 0 var(--color-yellow);
  margin: 0;
}

a {
  transition: color 100ms;
}

a:link {
  color: var(--color-blue);
}

a:visited {
  color: var(--color-magenta);
}

a:hover {
  color: var(--color-light-blue);
}

blockquote {
  color: var(--color-dark-grey);
}

code {
  background-color: var(--color-black);
  color: var(--color-grey);
  padding: 0.125rem 0.25rem;
  font-size: 0.875em;
}

pre > code {
  display: block;
  overflow-x: auto;
}

ol {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2em;
  padding-left: 0;
}

ol > li {
  --counter-size: 2em;

  position: relative;
  display: grid;
  gap: 1em;
  grid-template-columns: var(--counter-size) 1fr;
}

ol > li::before {
  --size: var(--counter-size);
  border-radius: 50%;
  border: solid 0.125rem;
  color: var(--color-dark-grey);
  content: attr(data-index);
  display: flex;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: calc(var(--size) / 2);
  font-style: italic;
  height: var(--size);
  line-height: calc(var(--size) - 0.25rem);
  justify-content: center;
  text-align: center;
  width: var(--size);
}

ol > li > article > a {
  color: var(--fg);
  text-decoration: none;
}

nav {
  position: sticky;
  background: var(--bg);
  top: -1px;
  z-index: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0 -1rem;
}

article {
  display: flex;
  flex-direction: column;
}

article > time {
  color: var(--color-yellow);
  display: flex;
  align-items: center;
  order: -1;
  line-height: var(--counter-size);
}

footer {
  color: var(--color-dark-grey);
  margin-top: 25vh;
  padding: 5rem 0;
  text-align: center;
}

abbr,
.tooltip {
  text-decoration: underline dotted;
  position: relative;
}

:where(abbr, .tooltip)::after {
  background: var(--color-black);
  color: var(--color-light-grey);
  bottom: 100%;
  content: attr(title);
  font-size: 0.875rem;
  left: 50%;
  opacity: 0;
  padding: 0.125rem 0.25rem;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 100ms;
  white-space: nowrap;
}

:where(abbr, .tooltip):hover::after {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  html {
    --bg: var(--color-foreground);
    --fg: var(--color-background);
  }
}
