/*** Globals ***/

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-background: #fff1d6;
  --color-foreground: #181b1f;
  --color-black: #31373d;
  --color-red: #f55c45;
  --color-green: #afb833;
  --color-yellow: #ebb242;
  --color-blue: #5fb8b8;
  --color-magenta: #cc7ab1;
  --color-cyan: #6eb89f;
  --color-grey: #9aaab8;
  --color-dark-grey: #757d85;
  --color-light-red: #f58c31;
  --color-light-green: #d6d66f;
  --color-light-yellow: #ffd37a;
  --color-light-blue: #92d6d6;
  --color-light-magenta: #eba0d2;
  --color-light-cyan: #92d6bf;
  --color-light-grey: #d8e2eb;

  --fg: var(--color-background);
  --bg: var(--color-foreground);

  --fg-code: var(--color-light-grey);
  --bg-code: var(--color-black);

  background-color: var(--bg);
  color: var(--fg);
  font: clamp(1rem, 3vw, 1.5rem) / 1.618 Georgia, "Times New Roman", Times,
    serif;
}

:target {
  scroll-margin-top: 5rem;
}

body {
  max-width: 64ch;
  margin-inline: auto;
  margin-block-start: 25vh;
  padding-inline: clamp(1rem, 10vw, 3rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

:where(p, pre, ol, ul) {
  margin-block: 1.618em;
}

:where(ol, ul) :where(ol, ul) {
  margin-block: 0;
}

h1 {
  display: flex;
  align-items: center;
  font-size: 2.618rem;
  margin-block-start: 0;
  margin-block-end: 1.5em;
}

h2 {
  color: var(--color-red);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: clamp(2rem, 10vw, 4.235rem);
  margin: 1.5em 0;
  line-height: 1;
}

h3 {
  font-size: 1.618rem;
  margin: 1em 0;
}

h1,
h2,
h3 {
  position: relative;
}

h1::after,
h2::after {
  content: "";
  color: var(--color-red);
  position: absolute;
  top: 100%;
  display: block;
  border-bottom: solid 0.125em;
  width: 2ch;
}

hr {
  border: 0;
  height: 2px;
  width: 1em;
  box-shadow: -1em 0 0 0 var(--color-yellow);
  margin: 3em 0;
}

a {
  transition: color 100ms;
}

a:link {
  color: var(--color-blue);
}

a:visited {
  color: var(--color-magenta);
}

a:hover {
  color: var(--color-light-blue);
}

blockquote {
  color: var(--color-cyan);
  padding-inline: 0.875em 1em;
  font-style: italic;
  font-size: 1.25em;
  /* border-block: solid 0.125rem; */
  margin: 3em -1em;
  position: relative;
  border-inline-start: solid 0.125em;
}

code {
  background-color: var(--bg-code);
  color: var(--fg-code);
  font-family: monospace;
  font-size: 0.875em;
  padding: 0.125em 0.25em;
}

em {
  color: var(--color-yellow);
}

pre {
  overflow-x: auto;
  margin-inline: -1rem;
  padding: 1rem;
}

pre > code {
  background-color: inherit;
  display: block;
  flex: 1;
}

nav {
  position: sticky;
  background: var(--bg);
  top: -1px;
  z-index: 1;
  text-align: center;
  padding: 0.5em 1em;
  margin: 0 -1em;
}

time {
  color: var(--color-yellow);
}

header {
  display: flex;
  flex-direction: column;
  margin-block-start: 1.5em;
}

header > time {
  order: -1;
}

footer {
  color: var(--color-dark-grey);
  margin-top: 25vh;
  padding: 3em 0;
  text-align: center;
  font-size: 0.875rem;
}

footer::before {
  content: "— ❦ —";
  font-size: 1rem;
}

abbr {
  text-decoration: underline dotted;
  position: relative;
}

abbr::after {
  background: var(--color-black);
  color: var(--color-light-grey);
  bottom: 100%;
  content: attr(title);
  font-size: 0.875rem;
  left: 50%;
  opacity: 0;
  padding: 0.125rem 0.25rem;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 100ms;
  white-space: nowrap;
}

abbr:hover::after {
  opacity: 1;
}

img,
video {
  height: auto;
  max-width: calc(100% + 2rem);
  margin-inline: -1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Components
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/**/
.article-preview {
  display: flex;
  flex-direction: column;
}

.article-preview h3 {
  margin-block-start: 0;
}

.article-preview time {
  order: -1;
  line-height: var(--counter-size);
}

/**/
.footnotes {
  color: var(--color-dark-grey);
  font-size: 0.875rem;
}

.footnotes-list {
  padding-inline-start: 0;
}

.footnote-backref {
  font-size: 0.625rem;
}

.footnotes-item {
  margin-block: 1em;
}

/**/
.title > i {
  color: var(--color-yellow);
  font-size: 0.5em;
  margin-inline-start: 1em;
}

.title hr {
  margin: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Shiki
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.shiki {
  display: flex;
}

.shiki > [class^="language-"] {
  flex: 1;
  padding: 0;
}

.line {
  display: inline-block;
  position: relative;
  width: 100%;
}

.line:is(.diff, .highlighted)::before {
  background-color: var(--line-color);
  content: "";
  display: block;
  inset: 0;
  opacity: 0.1;
  margin-inline: -1rem;
  width: calc(100% + 2rem);
  pointer-events: none;
  position: absolute;
}

.line.diff:is(.add, .remove)::after {
  color: var(--line-color);
  content: var(--line-content);
  left: -1rem;
  position: absolute;
  text-align: center;
  width: 1rem;
}

.line.add {
  --line-color: var(--color-green);
  --line-content: "+";
}

.line.remove {
  --line-color: var(--color-red);
  --line-content: "-";
}

.line.highlighted {
  --line-color: var(--color-light-grey);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Media queries
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (prefers-color-scheme: light) {
  :root {
    --fg: var(--color-foreground);
    --bg: var(--color-background);

    --fg-code: var(--color-black);
    --bg-code: var(--color-light-grey);
  }
}
